.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

/* это блок для стилей ошибок */
.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}


/* это блок для стилей кнопок */
.active-filter {
    background-color: lightgreen;
}

/* это стили для выполненных тасок*/
.is-done {
    opacity: 0.5;
}